RewriteEngine On
RewriteBase /

# If a physical file or folder exists on disk, serve it directly (CSS, Images, JS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, pass clean paths directly to index.php processing loop
RewriteRule ^(.*)$ index.php [L]
